body {
    background-color: rgb(204, 255, 229);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}



h1 {
    text-align: center;
    text-decoration: underline;
}



.container {
    margin-top: 150px;
    display: grid;
    justify-content: center;
    height: 500px;
    width: 350px;
    border: 2px solid black;
    background-color: rgb(204, 255, 229);
    flex-wrap: wrap;
}

.display {
    height: 50px;
    width: 300px;
    border: 2px solid black;
    margin-bottom: 10px;
    text-align: right;
    font-size: xx-large;
}

.nums {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
