body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

img {
    height: 200px;
    width: 300px;
}


imgs {
    height: 200px;
    width: 300px;
}


.green {
    color: greenyellow;
}


.newdiv {
    height: 200px;
    width: 200px;
    background-color: pink;
    border: 2px solid grey;
}

.btn-style {
    background-color: blueviolet;
    color: white;
}


.head-style {
    text-decoration: underline;
    color: purple;
}