h1 {
    color: rgb(108, 159, 6);
}


img {
    height: 200px;
    width: 250px;
}

span {
    color: green;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}