body {
    background-color: rgb(204, 255, 229);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
    color: rgb(108, 159, 6);
}


img {
    height: 200px;
    width: 250px;
}

span {
    color: green;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#one {
    text-align: left;
}

#two {
    text-align: start;
}

#three {
    text-align: right;
}

#four {
    text-align: center;
}

#five {
    text-align: justify;
}

#a {
    text-decoration: underline;
}

#b {
    text-decoration: overline;
}

#c {
    text-decoration: line-through;
}

#d {
    text-decoration: none;
}


div p {
    color: rgb(31, 129, 129);
}

input[type="text"]{
    color: blue;
}

input[type="password"]{
    color: rgba(255, 0, 0, 0.92);
}

input[type]{
    background-color: aqua;
}


#pseudo:hover {
    background-color: aquamarine;
}

#pseudo:active {
    background-color: greenyellow;
}

input[type="radio"]:checked + label {
    color: red;
    font-weight: bold;
}

#pseudo_element::first-letter {
    font-size: 30px;
    color: magenta;
}

#pseudo_element::first-line{
    color: purple;
}

#pseudo_element::selection {
    background-color: greenyellow;
}


#box {
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#para {
    display: inline-block;
}


#parent {
    height: 300px;
    width: 600px;
    border: 2px solid black;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}

#child {
    height: 80px;
    width: 2em;
    border: 2px solid black;
    background-color: rgb(20, 245, 245);
}

#main {
    height: 300px;
    width: 120px;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    
}

#child1 {
    height: 70px;
    width: 70px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.7);
}

#child2 {
    height: 70px;
    width: 70px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(255, 255, 0, 0.7);
}

#child3 {
    height: 70px;
    width: 70px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgba(0,255,0, 0.7);
    opacity: 0.5;
}



#transition {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    transition: background-color 2s ease;
}

#transition:hover {
  background-color: red;
}


#transitionbox {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: chartreuse;
    transition: all 3s ease-in-out;
}

#transitionbox {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: chartreuse;
    transition: all 3s linear;
}

#transitionbox {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: chartreuse;
    transition: all 3s ease;
}
#transitionbox {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: chartreuse;
    transition: all 3s ease-in;
}

#transitionbox {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: chartreuse;
    transition: all 3s ease-out;
}


/* #transitionbox:hover {
    margin-left: 1300px;
    border-radius: 50%;
    transform: scale(3);
    transform: translateY(-50px);
    box-shadow: 10px 10px 10px rgb(145, 150, 145);
    background-color: rgb(238, 255, 0);
} */


#transitionbox:hover {
    margin-left: 1300px;
    height: 200px;
    width: 200px;
    transform: scale(3);
    transform: translateY(-50px);
    box-shadow: 10px 10px 10px rgb(145, 150, 145);
    background-color: rgb(238, 255, 0);
    background-image: url("https://images.unsplash.com/photo-1757778281745-85a04487b859?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}


.boxstatic {
    position: static;
    border: 2px solid black;
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    top: 50px;
    left: 50px;
    margin: 10px;
}


.boxrelative {
    position: relative;
    border: 2px solid black;
    background-color: rgb(231, 217, 32);
    height: 100px;
    width: 100px;
    top: 50px;
    left: 50px;
    margin: 10px;
}


.boxabsolute {
    position: absolute;
    border: 2px solid black;
    background-color: rgb(255, 105, 180);
    height: 100px;
    width: 100px;
    top: 50px;
    left: 50px;
    margin: 10px;
}


.boxfixed {
    position: fixed;
    border: 2px solid black;
    background-color: rgb(255, 140, 0);
    height: 100px;
    width: 100px;
    top: 50px;
    left: 50px;
    margin: 10px;
}


.boxsticky {
    position: sticky;
    border: 2px solid black;
    background-color: rgb(135, 206, 235);
    height: 100px;
    width: 100px;
    top: 0px;
    margin: 10px;
}


.outer {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgb(248, 231, 47);
    /* margin-left: 600px; */
    position: relative;
}


.inner1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    left: 70px;
    top: 70px;
}


.inner2 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    left: 180px;
    top: 20px;
}


.inner3 {
    height: 35px;
    width: 110px;
    background-color: rgb(241, 46, 46);
    position: relative;
    top: 110px;
    left: 95px;
    border-radius: 0 0 70px 70px; 
}



.flexbox {
    display: flex;
    border: 2px solid black;
    height: 600px;
    width: 800px;
    align-items: center;
    background-color: rgb(255, 204, 229);
    flex-direction: row;
    justify-content: flex-start; 
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
}


.box {
    height: 80px;
    width: 140px;
    border: 1px solid black;
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
}